body {
    background-image: url("https://cdn.dribbble.com/users/769929/screenshots/4990080/trainyourbrain.gif");
    width: 100%;
    margin: 0;
    background-size: cover;
    overflow: hidden;
}
header {
    position: relative;
    height: 70px;
    background-image: url("https://cdn.dribbble.com/users/546898/screenshots/5496692/1600_2x.jpg");
    width: 100%;
    margin: 0%;
    padding: 0%;
    margin-top: -2%;
    font-family: 'Nova Flat', cursive;
    font-size: 120%;
}

header h1 {
    color: whitesmoke;
    text-align: center;
    padding: 15px 0;
    text-transform: uppercase;
}

@import url(http://fonts.googleapis.com/css?family=Open+Sans:700);

#cssmenu {
  background-color: #b33939;
  width: auto;
}

#cssmenu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 1;
  display: block;
  zoom: 1;
}

#cssmenu ul:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}

#cssmenu ul li {
  display: inline-block;
  padding: 0;
  margin: 0;
}

#cssmenu.align-right ul li {
  float: right;
}

#cssmenu.align-center ul {
  text-align: center;
}

#cssmenu ul li a {
  color: #ffffff;
  text-decoration: none;
  display: block;
  padding: 15px 25px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  position: relative;
  -webkit-transition: color .25s;
  -moz-transition: color .25s;
  -ms-transition: color .25s;
  -o-transition: color .25s;
  transition: color .25s;
}

#cssmenu ul li a:hover {
  color: #333333;
}

#cssmenu ul li a:hover:before {
  width: 100%;
}

#cssmenu ul li a:after {
  content: "";
  display: block;
  position: absolute;
  right: -3px;
  top: 19px;
  height: 6px;
  width: 6px;
  background: #ffffff;
  opacity: .5;
}

#cssmenu ul li a:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 0;
  background: #333333;
  -webkit-transition: width .25s;
  -moz-transition: width .25s;
  -ms-transition: width .25s;
  -o-transition: width .25s;
  transition: width .25s;
}

#cssmenu ul li.last > a:after,

#cssmenu ul li:last-child > a:after {
  display: none;
}

#cssmenu ul li.active a {
  color: #333333;
}

#cssmenu ul li.active a:before {
  width: 100%;
}

#cssmenu.align-right li.last > a:after,

#cssmenu.align-right li:last-child > a:after {
  display: block;
}

#cssmenu.align-right li:first-child a:after {
  display: none;
}
@media screen and (max-width: 768px) {

  #cssmenu ul li {
    float: none;
    display: block;
  }

  #cssmenu ul li a {
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 1px solid #fb998c;
  }

  #cssmenu ul li.last > a,

  #cssmenu ul li:last-child > a {
    border: 0;
  }

  #cssmenu ul li a:after {
    display: none;
  }

  #cssmenu ul li a:before {
    display: none;
  }
}

/* PARTIE JEU */

main {
  margin: auto auto;
  max-width:720px;
  display: flex;
  font-family: 'ZCOOL QingKe HuangYou', cursive;
}

@media (max-width:480px) {
  main {
    display: block;
  }
}

/* GRILLE ET CASES */
#grid,.box{
  -webkit-user-select:none;
}

#grid {
  margin:20px auto 40px;
  box-shadow:0 0 20px rgba(0,0,0,0.2);
  width:410px;
  height:410px;
  padding:20px;
  background:white;
  border-radius:10px;
  font-size:20px;
  /* float:left; */
  overflow:hidden;
  cursor:pointer;
  border: 2px solid #b33939;
  opacity: 0.95;
}

  @media (max-width:740px){
    #grid{
      float:none;
    }
  }

  @media (max-width:480px){
    #grid{
      margin-bottom:20px;
      padding:5px;
      width:288px;
      height:288px;
      font-size:14px;
      border-radius:5px;
    }
  }

.box {
  margin:3px;
  width:45px;
  height:45px;
  line-height:45px;
  text-align:center;
  background:#b33939;
  color: white;
  box-shadow:0 0 5px rgba(0,0,0,0.1);
  border-radius:5px;
  float:left;
}

  @media (max-width:480px){
    .box{
      width:30px;
      height:30px;
      line-height:30px;
    }
  }

.box.highlight{
  background:#111;
  color:#fff;
}

.box.found-red {
  background: #ea2c2c;
  background: -webkit-linear-gradient(#ea2c2c 50%, #d62222 51%);
  background: -moz-linear-gradient(#ea2c2c 50%, #d62222 51%);
  background: -o-linear-gradient(#ea2c2c 50%, #d62222 51%);
  background: linear-gradient(#ea2c2c 50%, #d62222 51%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ea2c2c', endColorstr='#d62222',GradientType=0 );
  color:#fff;
}

.box.found-green {
  background: #a1d54f;
  background: -webkit-linear-gradient(#a1d54f 50%, #80c217 51%);
  background: -moz-linear-gradient(#a1d54f 50%, #80c217 51%);
  background: -o-linear-gradient(#a1d54f 50%, #80c217 51%);
  background: linear-gradient(#a1d54f 50%, #80c217 51%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a1d54f', endColorstr='#80c217',GradientType=0 );
  color:#fff;
}

.box.found-yellow{
  background: #fff94f;
  background: -webkit-linear-gradient(#fff94f 50%, #ffe500 51%);
  background: -moz-linear-gradient(#fff94f 50%, #ffe500 51%);
  background: -o-linear-gradient(#fff94f 50%, #ffe500 51%);
  background: linear-gradient(#fff94f 50%, #ffe500 51%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff94f', endColorstr='#ffe500',GradientType=0 );
  color:#fff;
}

.box.found-blue{
  background: #71ceef;
  background: -webkit-linear-gradient(#71ceef 50%, #21b4e2 51%);
  background: -moz-linear-gradient(#71ceef 50%, #21b4e2 51%);
  background: -o-linear-gradient(#71ceef 50%, #21b4e2 51%);
  background: linear-gradient(#71ceef 50%, #21b4e2 51%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#71ceef', endColorstr='#21b4e2',GradientType=0 );
  color:#fff;
}
.box.found-purple {
  background: #c928a9;
  background: -webkit-linear-gradient(#c928a9 49%, #b5177d 49%);
  background: -moz-linear-gradient(#c928a9 49%, #b5177d 49%);
  background: -o-linear-gradient(#c928a9 49%, #b5177d 49%);
  background: linear-gradient(#c928a9 49%, #b5177d 49%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c928a9', endColorstr='#b5177d',GradientType=0 );
  color:#fff;
}

.box.found-pink {
  background: pink;
  color: #fff;
}

.box.found-grey {
  background: grey;
  color: #fff;
}

/* LISTE DES MOTS A TROUVER */
#listContainer {
  margin:20px 0 0 20px;
  padding:20px;
  float:left;
  height:410px;
  width:200px;
  box-shadow:0 0 20px rgba(0,0,0,0.1);
  background:white;
  opacity: 0.95;
  border: 2px solid #b33939;
  border-radius:10px;
  color: #b33939;
}

#listContainer h2 {
  font-size: 2.75em;
}

  @media (max-width:740px){
    #listContainer{
      margin: auto;
      float: none;
      width: 250px;
      height: auto;
      padding-top: 5px;
      margin-top: -5px;
    }
  }

#list{
  margin:auto;
  padding-left:20px;
  text-align:left;
  list-style:none;
  height: 140px;
  width: 180px;
  flex-flow: column wrap;
  display: flex;
}

@media (max-width:480px) {
  #list {
    margin: 0;
    height: 100px;
  }
}

#list li.found{
  color:gray;
  text-decoration:line-through;
}

#restart {
  margin: 0px auto 0;
  line-height: 25px;
  text-align: center;
  display: none;
}

@media (max-width:480px) {
  #restart {
    margin-top: 5px;
    margin-bottom: 9px;
  }
  #restart p {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  #restart h3 {
    margin-top: 5px;
    margin-bottom: 7px;
  }
  #btn-restart {
    height: auto;
  }
  #btn-new-grid {
    margin-bottom: -15px;
  }

}

#btn-restart {
  background-color: #b33939;
  border-radius: 10px;
  width: auto;
  height: 35px;
  padding-left: auto;
  padding-left: 10px;
  padding-right: 10px;
  border: none;
}

#btn-new-grid {
  height: auto;
  width: auto;
  border-radius: 10px;
  background-color: #b33939;
  border: none;
  padding: 5px;
}

#restart a {
  font-size: 1.5em;
  text-decoration: none;
  color: white;
  font-weight: bold;
}



/* FIN PARTIE JEU */

#debut {
  margin-left: auto;
  margin-right: auto;
  height: 200px;
  width: 800px;
  font-size: 3.25em;
  font-family: 'ZCOOL QingKe HuangYou', cursive;
  text-align: center;
}
#debut p {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 25px;
}

footer {
  height: 40px;
  width: 100%;
  background-color: #b33939;
  position: absolute;
  bottom: 0;
}

footer p {
  color: whitesmoke;
  text-align: center;
  line-height: 10px;
  font-family: 'ZCOOL QingKe HuangYou', cursive;
}